@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  box-sizing: border-box
}
html, body {
  height: 100%
}
body {
  font: 11px "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  
  justify-content: space-between
}
ul {
  list-style: none
}
a {
  text-decoration: none
}
.generic-anchor {
  color: #8DB9ED;
  &:visited {
    color: #8DB9ED
  }
  &:hover {
    color: #8DB9ED
  }
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

main {
  flex: 1 1 auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  font: 10em "Oswald", sans-serif;
  color: rgb(155,155,155);
  line-height: 1
}
footer {
  border-radius: 30px;
  background: rgb(255,255,255);
  opacity: 0.7;
  margin-top: auto;
  width: 100%
}
.footer-list-top {
  width: 33.333%
}
.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px
}
.footer-list-header {
  border-radius: 30px;
  padding: 10px 0 5px 0;
  color: #000;
  font: 1.9vw "Oswald", sans-serif
}
.footer-list-anchor {
  color: #000099;
  font: 1.2em "Open Sans", sans-serif
  }
.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  /*position: relative;*/
  margin-top: 5px;
}
.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 10px;
  border-top: 1px solid #ccc;
  width: calc(100% - 20px)
}
.footer-social-overlap {
  position: relative;
  z-index: 2;
  /*background: rgb(55,55,55);*/
  padding: 0 20px
}
.footer-social-connect {
  display: flex;
  align-items: center;
  font: 3.5em "Oswald", sans-serif;
  color: #000;
}
.footer-social-small {
  font-size: 0.7em;
  padding: 0px 15px
}
.footer-social-overlap > a {
  font-size: 2.9em
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}
.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
  background: rgb(0,0,0);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.footer-bottom-section > div:first-child {
  margin-right: auto
}
.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff
}
.footer-address {
  display: inline;
  font-style: normal
}

/*
.generic-anchor{
  color: #000;
}*/

.footer-list-top .content .fas{
  font-size: 1.5rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
  
}
.footer-list-top .content .fas:hover{
  background: #f1a10f;
}
.footer-list-top .content .text{
  font-size: 1.3rem;
  font-weight: 500;
  padding-left: 10px;
  color: #000099;
}

.footer-list-top .content .phone{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 18%;
  /*color: #000099;*/
}
.footer-list-top .content .place{
  margin-left: 18%;
}
.footer-list-top .content .email{
  margin-left: 18%;
}