.topimg h1{
    background-image: url('../Image/agro.JPG');
    background-repeat: no-repeat;
    width: 720px;
    height: 155px;
    order:2;
    margin-left: 300px;
}

.NavBar {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 8%;
    padding: 20px; 
    border: 1px;
    border-radius: 30px;
	margin-left: 10px;
    margin-right: 10px;
}
.Icons {
    height: 37px;
    width: 40px;
    margin-top: 5px;
    padding: 5px 0 5px 0;
    border-radius: 15px;
    margin-right: 5px;
    margin-left: 5px;
    color: black;
    cursor: pointer;
}
.SearchBar {
    display: flex;
    flex-direction: row; 
    margin-top: -87px;
}
.Search {
    border: 1px solid grey;
    border-radius: 10px;
}
.Main {
    margin-left: auto;
    justify-content: space-between;
    margin-top: -87px;
}

.MainIcons {
    height: 37px;
    width: 40px;
    margin-top: 10px;
    padding: 5px 0 5px 0;
    border-radius: 15px;
    margin-right: 5px;
    margin-left: 5px;
    color: black;
    cursor: pointer;
}
.MainBody {
    display: flex;
    flex-direction: row;
    
}
.leftMenu {
    flex-basis: 1;
    float : left;
    width: 17%;
    overflow-y : hidden;
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    margin-top: 5px;  
    margin-left: 10px; 
    opacity: 90%;
    color: black !important; 
}
.leftMenu ul li {
    padding : 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    list-style-type: none;
    width: inherit;
    border: 1px ;
    margin-right: 20px;
    border-radius: 25px;
    /*background-color: rgb(185, 179, 187);*/
}
.leftMenu ul li a {
    font-size: 20px;
    color: black !important;
}
.leftMenu ul li :hover {
    margin-left: 20px;
    /*color:#eb5b34;*/
    transition: .3s ease-out;
    white-space: nowrap;
    overflow-x: hidden;
    text-decoration: none;
}
.post {
    border: 1px solid black;
    margin: 20px;
    flex-basis: 2;
}
.postBody {
    padding : 5px;
    color: black;
}
.MainMenu {
    margin-left: 50px;
    width: 80%;
    justify-self: inherit;
    border-radius: 30px;
    margin: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-columns: auto;
    grid-gap: 10px;
    background-color:white;
}

::placeholder{
color: #000000;    
}