.topimg h1{
    background-image: url('../Image/agro.JPG');
    background-repeat: no-repeat;
    width: 720px;
    height: 155px;
    order:2;
    margin-left: 300px;
}

.NavBar {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 8%;
    padding: 20px; 
    border: 1px;
    border-radius: 30px;
	margin-left: 10px;
    margin-right: 10px;
}
.Icons {
    height: 37px;
    width: 40px;
    margin-top: 5px;
    padding: 5px 0 5px 0;
    border-radius: 15px;
    margin-right: 5px;
    margin-left: 5px;
    color: black;
    cursor: pointer;
}
.SearchBar {
    display: flex;
    flex-direction: row; 
    margin-top: -87px;
}
.Search {
    border: 1px solid grey;
    border-radius: 10px;
}
.Main {
    margin-left: auto;
    justify-content: space-between;
    justify-self: center;
    margin-top: -1%;
}

.MainIcons {
    height: 37px;
    width: 40px;
    margin-top: 10px;
    padding: 5px 0 5px 0;
    border-radius: 15px;
    margin-right: 5px;
    margin-left: 5px;
    color: black;
    cursor: pointer;
}
.MainIcons:hover{
    /* color:  #FF4B2B; */
}

.MainBody {
    display: flex;
    flex-direction: row;
    
}
.Avatar {
    width: 90%;
    margin: 15px;
    border-radius: 20px;
}
.leftMenu {
    flex: 1;
    float : left;
    margin-left: 20px;
    background-color : rgb(210, 221, 60);
    border-radius: 20px;
    height: fit-content;
    padding-left: 10px;
}
.leftMenu ul li {
    /* border: 1px solid black; */
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: #f7f7f7;
    transition: 0.5s;
    width: 90%;
    text-align: center;
    text-decoration: none;
}
.leftMenu ul li a {
    color: black;
    text-emphasis: none;
}
.leftMenu ul li:hover {
    /* margin-left: 20px;
    /*color:#eb5b34;*/
    /* transition: .3s ease-out; */
    /* white-space: nowrap;
    overflow-x: hidden;*/
    text-decoration: none;
    transform: scale(1.1);
    border-left: 5px solid green;
}
.post {
    border: 1px solid black;
    margin: 20px;
    flex-basis: 2;
}
.postBody {
    padding : 5px;
    color: black;
}
.MainMenu {
    flex: 4;
    margin-left: 50px;
    justify-self: inherit;
    border-radius: 30px;
    margin: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-columns: auto;
    grid-gap: 10px;
    background-color:white;
    margin-right: 20px;
}

::placeholder{
color: #000000;    
}
.Icon[wobble = '1'] {
    animation: wobble 1s 1;
}
@keyframes wobble {
    25% {
      transform: rotate(15deg);
    }
    50% {
      transform: rotate(-30deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }