.Body {
    /* border: 1px solid black; */
    margin: 10px;
    background-image: url('../Image/blueWallpaper.png');
}
.Body-Card {
    background-color: bisque;
    width: 90%;
    height: 90%;
    padding: 20px;
    /* border: 2px solid black; */
    border-radius: 10px;
}
.Navbar {
    width: 100%;
    height: 10%;
    /* border-bottom: 1px solid black; */
}
.content{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: inherit;
    margin-top: 10px;
}
.child1 {
    margin: 10px;
    border-radius: 10px;
    flex: 1;
}
.child2 {
    flex: 3;
    margin: 10px;
    border-radius: 10px;
}
.child11 {
    width: inherit;
}
.Avatar {
    width: 90%;
    height: 50%;
    margin: 15px;
    border-radius: 20px;
}

.child21 {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    margin-left: 10px;
    margin-right: 10px;
    height: 55%;
    border-radius: 10px;
}
.child211 {
    flex: 1;
    border-radius: 10px;
    width: 95%;
    margin: 8px;
    display: flex;
    flex-direction: row;
    background-color: #f7f7f7;
}
.child212 {
    flex: 4;
    /* border: 1px solid black; */
    width: 95%;
    margin: 5px;
}
.child211 div {
    cursor: pointer;
}
.box{
    transition: 0.5s;
    text-decoration: none;
}
.box:hover {
    transform: scale(1.5);
}
.box2 {
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
}
.Icon {
    color: black;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    cursor: pointer;
}
.Icon[wobble = '1'] {
    animation: wobble 1s 1;
}
@keyframes wobble {
    25% {
      transform: rotate(15deg);
    }
    50% {
      transform: rotate(-30deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
.Star {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 2px;
}
.Star:hover {
    color: black;
    
}
.con {
    width: inherit;
    display: flex;
    flex-direction: column;
    height: 230px;
}
.conc {
    flex: 1;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    background-color : #f7f7f7;
    /* background-color: green; */
    transition: 0.5s;
    text-align: center;
    justify-content: center;
}
.conc:hover {
    transform: scale(1.5);
    border-bottom: 1px solid green;
}
h5 {
    margin-top: 15px;
    justify-self: center;
}